<table border="1">
    <tr>
        {% for column in columns %}
            <th>{{ column }}</th>
        {% endfor %}
        <th>remove?</th>
    </tr>
    {% for id, item in entities %}
        <tr>
            {% for column in columns %}
                <td>{{ attribute(item,column) }}</td>
            {% endfor %}
            <td><a href="/{{ type }}/update/{{ attribute(item,'id') }}">edit</a></td>
            <td><a href="/{{ type }}/delete/{{ attribute(item,'id') }}">delete</a></td>
        </tr>
    {% endfor %}

    <a href="/{{ type }}/new">Add New {{ label }}</a>
</table>